.platform-indicators {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 0.25rem;
  vertical-align: bottom;
  /* top: 1px; */
}

.platform-indicator-badge-container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
[class^="outer"] > div > div > .platform-indicators {
  gap: 8px;
}

[class^="outer"] > div > div > .platform-indicators span {
  border-radius: var(--radius-round);
  transition: background-color var(--custom-button-transition-duration) ease,
    color var(--custom-button-transition-duration) ease;
  background: var(--redesign-button-overlay-alpha-background);
  cursor: pointer;
  padding: 8px;
  display: flex;
  display: flex;
}

[class^="outer"] > div > div > .platform-indicators span:hover {
  background: var(--redesign-button-overlay-alpha-pressed-background);
}

[class^="outer"] > div > div > .platform-indicators span svg {
  height: 16px !important;
  width: 16px !important;
}

.headerButtonWrapper {
  display: flex;
  gap: 8px;
  position: absolute;
  transition: opacity 0.6s ease;
  z-index: 3;
}

.headerButtonWrapper:empty {
  display: none;
}

.user-profile-popout .headerButtonWrapper {
  right: 12px;
  top: 12px;
}

.user-profile-modal .headerButtonWrapper {
  right: 16px;
  top: 12px;
}

.user-profile-sidebar .headerButtonWrapper {
  right: 8px;
  top: 8px;
}
