.platform-indicators {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 0.25rem;
  vertical-align: bottom;
  /* top: 1px; */
}

.platform-indicator-badge-container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
[class*="biteSize"] .platform-indicators {
  gap: 8px;
}

[class*="biteSize"] .platform-indicators span {
  border-radius: var(--radius-round);
  transition: background-color var(--custom-button-transition-duration) ease,
    color var(--custom-button-transition-duration) ease;
  background: var(--redesign-button-overlay-alpha-background);
  cursor: pointer;
  padding: 8px;
  display: flex;
}

[class*="biteSize"] .platform-indicators span:hover {
  background: var(--redesign-button-overlay-alpha-pressed-background);
}

[class*="biteSize"] .platform-indicators span svg {
  height: 16px !important;
  width: 16px !important;
}
