.platform-indicators {
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 0.25rem;
  vertical-align: bottom;
  /* top: 1px; */
}
.platform-indicator-badge-container {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
